Source: ocaml-minisat
Section: devel
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Build-Depends:
 debhelper (>= 7),
 ocaml-nox (>= 3.11),
 minisat2 (>= 070721-8),
 ocaml-findlib (>> 1.2.4-2),
 dh-ocaml (>= 0.2),
 cdbs
Standards-Version: 3.8.4
Homepage: http://github.com/abate/MiniSat-ocaml/tree/minisat2

Package: libminisat-ocaml
Architecture: any
Section: ocaml
Depends:
  ocaml-base-nox-${F:OCamlABI},
  minisat2,
  ${shlibs:Depends},
  ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Ocaml bindings for Minisat
 MiniSat is a minimalistic, open-source SAT solver, developed to help
 researchers and developers alike to get started on SAT. Winning all the
 industrial categories of the SAT 2005 competition, MiniSat is a good starting
 point both for future research in SAT, and for applications using SAT.
 .
 This package provides the files necessary to run dynamically-linked
 OCaml programs with Minisat.

Package: libminisat-ocaml-dev
Architecture: any
Section: libdevel
Depends:
  ocaml-nox-${F:OCamlABI},
  minisat2,
  ${ocaml:Depends},
  ${misc:Depends}
Recommends: ocaml-findlib
Description: Ocaml bindings for Minisat
 MiniSat is a minimalistic, open-source SAT solver, developed to help
 researchers and developers alike to get started on SAT. Winning all the
 industrial categories of the SAT 2005 competition, MiniSat is a good starting
 point both for future research in SAT, and for applications using SAT.
 .
 This package provides the files necessary to develop new applications that
 use Minisat for OCaml.
